workflow.json
{
  "name": "Sales Order - Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_UNIQUE_WEBHOOK_PATH",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1120, -64],
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = JSON.parse($input.first().json.body);\n\nreturn [{\n  json: {\n    name:      body.name,\n    email:     body.email,\n    category:  body.category,\n    feedback:  body.feedback,\n    rating:    body.rating,\n    timestamp: body.timestamp\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, -64],
      "name": "Parse Body"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.category }}", "rightValue": "Product", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "Product" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.category }}", "rightValue": "Support", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "Support" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.category }}", "rightValue": "Billing", "operator": { "type": "string", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "Billing" }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-672, -80],
      "name": "Switch Category"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_OR_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": \"*New {{ $json.category }} Feedback*\\n*From:* {{ $json.name }}\\n*Message:* {{ $json.feedback }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-448, -256],
      "name": "Notification Node"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Parse Body').item.json.name }}",
            "Email": "={{ $('Parse Body').item.json.email }}",
            "Category": "={{ $('Parse Body').item.json.category }}",
            "Feedback": "={{ $('Parse Body').item.json.feedback }}",
            "Rating": "={{ $('Parse Body').item.json.rating }}"
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-32, -112],
      "name": "Google Sheets"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Body", "type": "main", "index": 0 }]] },
    "Parse Body": { "main": [[{ "node": "Switch Category", "type": "main", "index": 0 }]] },
    "Switch Category": { "main": [[{ "node": "Notification Node", "type": "main", "index": 0 }], [{ "node": "Notification Node", "type": "main", "index": 0 }], [{ "node": "Notification Node", "type": "main", "index": 0 }]] },
    "Notification Node": { "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]] }
  }
}
